<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Cocktailbar - {{ seitentitel }}</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <h1>Virtual Cocktailbar</h1>
    <style>
        body {
        padding: 60px;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 mb-md-0">
        <li><a href="{{ url_for('my_recipe_book') }}" class="nav-link px-2 link-secondary">My Recipe Book</a></li>
        <li><a href="{{ url_for('add_new_recipe') }}" class="nav-link px-2 link-dark">Add a new Recipe</a></li>
        <li><a href="{{ url_for('search') }}" class="nav-link px-2 link-dark">Search Recipe</a></li>
        <li><a href="{{ url_for('chart') }}" class="nav-link px-2 link-dark">Chart</a></li>
      </ul>

    </header>
