<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Cocktailbar - Zutaten Form</title>
</head>
<body>
<form method="POST">
  <div class="mb-3">
    <label for="ingredients" class="form-label">Zutaten</label>
    <input type="text" class="form-control" id="ingredients" name="ingredients">
  </div>
  <button type="submit" class="btn btn-primary">Abschicken</button>
</form>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>